<footer>
<p>
 КОМИССИЯМы выкупаем без комиссии с сайтов: Carters, Oshkosh, SkipHop. Для остальных сайтах комиссия за услуги составляет 10% от стоимости товара, минимальная комиссия $0.50. ‼️Обратите внимание, мы очень часто предлагаем выкуп без комиссии с сайтов: Victoria’Secret, Michael Kors, Calvin Klein и многие другие. Все актуальные предложения Вы сможете найти в ленте нашей группы. Предложения действительны только в день публикации. Для выкупа с некоторых сайтов мы вынуждены привлекать посредника, в таких случаях комиссия составит 15-20%. В сообщение о оплате Вы получаете конечную сумму, с учетом комиссии (без учета доставки, доставка осуществляется по прибытию по факту).<br> This example site was built by <a href="https://www.hawksworx.com">Phil Hawksworth</a> using some of the tools available on <a href="https://www.netlify.com">Netlify</a>.<br />
  The site and its code are intended as a reference implementation. You can find the code freely available on <a href="https://github.com/philhawksworth/jamstack-comments-engine">Github</a>.
</p>
</footer>
